<% provide(:title, "Show Page") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
<%= image_tag @user.image_url.to_s  %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<div>
<%= render 'shared/follow_stats' %>
</div>

<div>
     
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol>
        <%= render @microposts %>
      </ol>
    
  </div>


<% if(logged_in? && (@user.id!=current_user.id)) %>
<div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<%end%>

<% if(logged_in? && (@user.id==current_user.id))%>
<%= form_for(@usermicroposts) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
<%end%>

<%= form_for(current_user, :html => {:multipart => true}) do |f| %>
<%= f.file_field :image %>
<p><%= f.submit "submit" %></p>
<%end%>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this filme from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
